* {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 825px;
  margin: 50px auto;
}

.headding {
  padding: 20px;
}

article {
  border: 4px solid black;
  position: relative;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 35px 0 20px 0;
}

.dress-up {
  margin: 20px 0;
  clear: both;
}

.price {
  font-size: 24px;
  float: left;
}

.ship {
  text-transform: uppercase;
  font-weight: 700;
  color: #9f9b9b;
  font-size: 12px;
  float: right;
  margin-top: 8px;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

a,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

ul {
  margin-left: 20px;
}

li {
  list-style: square;
  padding-bottom: 15px;
}

button {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  width: 100%;
  font-size: 22px;
  padding: 20px;
}

button:hover {
  color: #000;
  background-color: #fff;
  border-top: 5px solid #000;
  cursor: pointer;
}

.colors {
  display: inline-block;
  margin: 30px 0 0 0;
}

.color {
  margin-right: 10px;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.black {
  color: #000;
  background-color: #000;
}
.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}

.img-contain {
  float: left;
  margin-right: 40px;
}
.product-info {
  width: 243px;
  float: left;
  margin-right: 40px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.product-details {
  width: 243px;
  float: left;
  margin-top: -10px;
}
